<div>
<h4>Cadastro de Veículos</h4>
</div>
<form (ngSubmit)="salvar()" #f="ngForm">
  <div>
    <label>Marca</label><br>
    <select class="form-control" [(ngModel)]="veiculo.marca" name="marca" #marca="ngModel" required>
                  <!-- Variavel do construtor 'form.ts'-->
      <option  *ngFor="let marca of marcas" [value]="marca">{{ marca }}</option>
    </select>
  </div>

  <br>

  <div>
    <label>Modelo</label><br>
    <input class="form-control" [(ngModel)]="veiculo.modelo" name="modelo" #modelo="ngModel" required>
  </div>

  <br>

  <div>
    <label>Valor</label><br>
    <input class="form-control" [(ngModel)]="veiculo.valor" name="valor" #valor="ngModel" style="text-align:right" required>
  </div>  

  <br>

  <div id="btnSubmit">
    <button type="submit" class="btn btn-outline-primary" [disabled]="!f.form.valid">Salvar</button>
    <button id="reset" type="button" (click)="reset()" class="btn btn-outline-secondary">Limpar</button>
  </div>
</form>
<!-- (click)="nomeDaFuncao()"  chamar função-->